*{
    margin: 0;
    padding: 0;
}
.nav{
margin: 0;
}
i{
    padding: 5px;
}
.text{
    color: aliceblue;
    text-align: left;
    font-size: small;
}
.navdiv{
    background-color: rgb(193, 29, 61);
    justify-content: center;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    padding-left: 15px;

}
li{
    
    list-style: none;
    display: inline;
    margin: 10px;
    color: white;
    font-size: small;
}
 .navbar{
    background-color: rgba(228,0,70);
    height: 12vh;
    padding: 0;
    margin: 0;
} 

.logo{
    color: white;  
    font-weight: bolder;
    display: flex;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:16px;
    font-weight:400;
    flex: 1;
    
}
.logo h3{
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    
}
.logo img{
    width: 35px;
    height: 7vh;
 margin-left: 0;
}
.search{
    flex:2;
}
.search input{
  font-size: 16px;
    padding: 10px;    
    border: none;
    border-radius: 2px;
    float: left;
    width: 350px;
    height: 7vh;
    background: #f1f1f1;
  
}
.search button{
    
    padding: 10px;
    background: black;
    color: white;
    border: none;
    border-radius: 2px;
    border-left: none;
    cursor: pointer;
   height: 7vh;
   width:80px;
   font-size: 16px;
}
.card{
   
    color: rgb(123, 121, 121);
    background-color:white;
    font-family: font-regular;
    font-style: normal;
    font-size: 12px;
    margin-top:20px;
    margin-left: 20px;
    background-color: white;
   
    width: 180px;
    height: 120vh;
}

.items li{
    border: 0px;    
}
.content{
    display: flex;
}
.images{
    border: 2px solid rgb(205, 201, 201);
    border-radius: 5px;
    width: 700px;
    height: 60vh;
    margin-top: 20px;
    margin-left: 30px;
    background-color: white;
   
}
.n h5{
    color: rgb(123, 121, 121);
    display: flex;
    
}
.n{
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}   
.pin{
    border: 1px solid rgb(205, 201, 201);
    width: 225px;
    height: 60vh;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: white;
}
.pin img{
    margin-top: 50px;
    margin-left: 50px;
}
.pin h5{
    color: rgb(123, 121, 121);
}
.pin input{
    border: 1px solid rgb(123, 121, 121);
    margin-left: 10px;
    width: 200px;
    height: 5vh;
    color:  rgb(123, 121, 121);
    border-radius: 1px;
}
.main{
    display: flex;
}
.cards{
  margin-left: 20px;
    display: flex;
    justify-content: space-between;
    background-color: white;
}
.card1{
    
    width: 220px;
    height: 60vh;
    margin-top: 20px;
    
}
.pro{
    padding: 20px;
}

.cards h5{
    color:black ;  
    font-weight: 100;
}
.card1 img{
    margin-top: 15px;
    margin-left: 15px;
    width: 200px;
    height: 200px;
    
}
.card1 h5{
    margin-top: 10px;
    color: rgb(171, 170, 170);
    font-size: 14px;
    margin-left: 10px;
}
.c{
    display: flex;
    padding-left: 30px;
    
}
.i img{
    width: 70px;
    height: 5vh;
}
.s {
    padding-left: 20px;
}

